@media only screen and (max-width: 1199px){
    .logo{
        margin-bottom: 20px;
    }
    .title-company{
        line-height: 40px;
    }
    .title-header{
        font-size: 300%;
    }
    .table-main{
        margin-bottom: 20px;
    }
    .title-table-gold{
        font-size: 120%;
    }
    .title-table-small{
        font-size: 100%;
    }
    .title-table-small{
        font-size: 100%;
    }
    .time > span , .date > span {
        font-size: 170%;
    }
    .time > h4 , .date > h4{
        font-size: 150%;
    }

}